*{
	margin: 0;
	padding: 0;
}

header {
	background: #2f8deb;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 0;
	text-align: center;
	width: 600px;
}

header h1 {
	color: white;
}

section {
	background: #eceff1;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	height: 400px;
	margin: 0 auto;
	margin-top: 5px;
	padding:10px;
	width: 580px;
}

section > p:first-child {
	text-align: center;
	width: 100%;
}

article {
	background: #ECEFF1;
	border-radius: 6px;
	height: 380px;
	padding: 10px;
	overflow-y: auto;
}

ol li {
	background: #DEE4E8;
	border-radius: 4px;
	padding: 5px;
	margin: 5px 0;
}

.tweet {
	border-bottom: 1px solid rgb(47, 141, 235);
	display: none;
	margin-bottom: 5px;
	min-height: 50px;
}

.tweet:hover {
	background: #ccc;
	border-radius: 5px;
	padding: 5px;

}

.tweet img,
.tweet .info {
	display: inline-block;
	vertical-align: top;
}

.tweet img, , .modal img {
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

.tweet .info, .modal .info {
	width: 100%;
}

.tweet .name, .modal .name {
	font-weight: bold;
	margin-right: 10px;
}

.tweet .date, .modal .date {
	color: gray;
	float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Estilos para el footer*/
footer {
	margin: 0 auto;
	margin-top: 5px;
	width: 600px;
	text-align: center;
}

body footer p {
	background: #2f8deb;
	border-radius: 10px;
	color: white;
	font-size: 13px;
	padding: 10px;
}
